
body {
    font-family: "Open Sans";
    font-weight: 400;
    background-color: #FFF;
}

h1,h2{
    color : #393939;
    font-size: 60px;
    font-weight: 300;
}
 
h2,h3 {
    text-align: center;
    color : #393939;
}

.nav__heading, h3 {
    font-size: 33px;
    font-weight:300;
}

.icon{
    width : 50px;
}

.listtype__none {
    list-style-type: none;
}

.nitro__pink {
    background-color: #FFF0ED ;
}

p {
    font-size : 18px;
    font-weight: 400;
    color: #393939;
}

button {
    background-color: #5BACC3;
    color: #FFF;
    padding: none;
    border-color: #5BACC3;
    font-size: 21px;
    font-weight: 400;
}

