.hero {
    display: flex;
    margin: 2rem;

    img {
        height: 45vh;
        width: 45vw;
    }
}

.cards{
    
    &__img--hawaii{
        background-image: url("../assets/Images/hawaii.jpg");
    }

    &__img--iceland{
        background-image: url("../assets/Images/iceland.jpg");
    }

    &__img--greece{
        background-image: url("../assets/Images/greece.jpg");
    }
}