.hero {
    display: flex;
    padding: 8rem 0rem 8rem;
    justify-content: space-around;
    background-color: #FEFAF5;

    &__info {
        width: 600px;
    }
    img {
        height: 65vh;
        width: 40vw;
    }

    h1 {
        color: #335576;
        font-size: 2.5rem;;
    }

    p{
        color:#335576;
        font-weight: 450;
    }

    button {
        background-color: #DB7A4E;
        color: white;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        padding: 0.6rem 3rem;
        margin-top: 1.2rem;
    }
}

main{

    h2{
        position: relative;
        left: 50px;
        color: #335576;
    }
}

.cards{

    h3 {
        position: relative;
        top: 300px;
        left: 75px;
        color: white;
    }
    
    &__img--hawaii{
        background-image: url("../assets/Images/hawaii.jpg");
    }

    &__img--iceland{
        background-image: url("../assets/Images/iceland.jpg");
    }

    &__img--greece{
        background-image: url("../assets/Images/greece.jpg");
    }
}