.hero {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    background-color: #FEFAF5;

    img {
        height: 45vh;
        width: 25vw;
    }
}

main{
    h2{
        position: relative;
        left: 50px;
        color: #335576;
    }
}

.cards{

    h3 {
        position: relative;
        top: 300px;
        left: 75px;
        color: white;
    }
    
    &__img--hawaii{
        background-image: url("../assets/Images/hawaii.jpg");
    }

    &__img--iceland{
        background-image: url("../assets/Images/iceland.jpg");
    }

    &__img--greece{
        background-image: url("../assets/Images/greece.jpg");
    }
}